.logo-dashboard {
	width: 90% !important;
}
.ant-avatar-lg {
	line-height: initial !important;
}

.no-decoration {
	color: #212121;
}
.no-decoration:hover {
	color: #1177aa;
}
.mt-1p {
	margin-top: 1.5% !important;
}

.no-border {
	border: none !important;
}

.has-errors-input {
	border: 1px solid #a22d2d !important;
	&span {
		color: red;
	}
}

$primary: #222944;
$primary-light: #434e75;
$gray: #9a9999;

.toggle {
	position: relative;
	display: block;
	width: 40px;
	height: 20px;
	cursor: pointer;
	-webkit-tap-highlight-color: transparent;
	transform: translate3d(0, 0, 0);
	&:before {
		content: '';
		position: relative;
		top: 3px;
		left: 3px;
		width: 34px;
		height: 14px;
		display: block;
		background: $gray;
		border-radius: 8px;
		transition: background 0.2s ease;
	}
	span {
		position: absolute;
		top: 0;
		left: 0;
		width: 20px;
		height: 20px;
		display: block;
		background: white;
		border-radius: 10px;
		box-shadow: 0 3px 8px rgba($gray, 0.5);
		transition: all 0.2s ease;
		&:before {
			content: '';
			position: absolute;
			display: block;
			margin: -18px;
			width: 56px;
			height: 56px;
			background: rgba($primary, 0.5);
			border-radius: 50%;
			transform: scale(0);
			opacity: 1;
			pointer-events: none;
		}
	}
}

#cbx:checked + .toggle {
	&:before {
		background: $primary-light;
	}

	span {
		background: $primary;
		transform: translateX(20px);
		transition: all 0.2s cubic-bezier(0.8, 0.4, 0.3, 1.25),
			background 0.15s ease;
		box-shadow: 0 3px 8px rgba($primary, 0.2);
	}

	&:before {
		transform: scale(1);
		transition: all 0.4s ease;
	}
}

.nonChecked {
	background-color: rgba(207, 25, 25, 0.404);
}

.alreadyCheck {
	background-color: #e0ffe1;
}

.centerSping {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

input[type="date"] {
  -webkit-appearance: textfield;
  -moz-appearance: textfield;
  min-height: 1.2em; 
  min-width: 96%;
}